.column{
    /*background-color: tomato;*/
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: inline-block;
    width: 20vw;
    height: 50vh;
    margin: 0 20px 0 20px;
    text-align: center;
    font-size: larger;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#2C3E50;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#title_container{
    text-align:center;
    background-color: #2A2B2F;
    margin: 0;
    padding: 0;
    /*border: 1px;*/
    /*border-radius: 20px 20px 0 0;*/
}
#title{
    font-family: "Courier New", fantasy;
    padding:3% 0 0 0;
    font-size: 30px;
    color: #FF4747;
    margin: 0;

}
#page{
    border: 7px solid #2A2B2F;
    border-radius: 25px 25px 0 0;
}
#mainContainer{

}
#center_container{
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}
